@charset "utf-8";
/* CSS Document */

/* reset marginesów i dope³nieñ */
/*html, body, ul, li { margin: 0; padding: 0; }*/

/* reset wysokoœci linii i fontu */
/*h1, h2, h3, h4, ul, li, ol, p { margin:0; padding:0; font-size: 1em;
line-height: 1.6em; }*/

/* ustawienia ogólne */
body { background: #222222;
font: 0.625em/1.5em arial, tahoma, verdana, sans-serif; }

/* szerokoœæ strony */
.content { width: 980px; margin: 0 auto; overflow: hidden; }

p, a, li { color: #c1ffc1; font-size: 1.4em;
font-family: arial, tahoma, verdana, sans-serif; }

header { background: black; width:100%; height: 200px; }/* header */
section { background: #ddd8d8; width:80%; height: 800px; float: right; }
aside { background: #453535; width:20%; height: 800px; float: left; }
footer { background: black; width:100%; height: 100px; clear: both; }
p { font: 14px Arial, sans-serif; color: red; text-align: center; }